html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: "Inter", Verdana, sans-serif;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
}

h2 {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
}

h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}

h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
}

h5 {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
}