html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    @extend %font-primary;
}

h1 {
    @include font (normal, 700, 45px, 50px);
    color: $color-heading;
    strong {
        color: $color-primary;
    }
}

h2 {
    @extend %font-additional;
    @include font (normal, 400, 40px, 52px);
    color: $color-primary;
    strong {
        color: $color-additional;
        font-weight: 400;
    }
}

h3 {
    @include font (normal, 700, 40px, 50px);
}

h4 {
    @include font (normal, 700, 20px, 22px);
    color: $color-additional;
}

h5 {
    @extend %font-additional;
    @include font (normal, 700, 40px, 52px);
}