.button {
    padding: 14px 27px;
    @include font (nomal, 400, 16px, 2rem);
    @extend %transition;
    background-color: $color-background;
    &_uppercase {
        text-transform: uppercase;
        border: solid 2px $color-additional;
        border-radius: 10px;
        color: $color-dark;
        &:hover {
            background-color: $color-additional;
            color: $color-light;
        }
    }
    &_colored {
        @extend %font-additional;
        @include font (normal, 400, 2rem, 2.6rem);
        color: $color-additional;
        border: solid 1px $color-additional;
        border-radius: 5px;
        &_bg-none {
            background-color: $color-light;
        }
        &:hover {
            background-color: $color-additional;
            color: $color-light;
        }
    }
}
