%hamburger-line {
    content: "";
    display: inline-block;
    background-color: $color-heading;
    height: 2px;
    width: 100%;
    position: absolute;
}
.hamburger {
    display: none;
    width: 40px;
    height: 26px;
    position: relative;
    @include media-mobile {
        display: inline-block;
        margin-left: auto;
    }
    &:before {
        content: "";
        @extend %hamburger-line;
        top: 0;
    }
    &:after {
        content: "";
        @extend %hamburger-line;
        bottom: 0;
    }
}

.hamburger__line1 {
    @extend %hamburger-line;
    top: calc(33% - 1px);
}

.hamburger__line2 {
    @extend %hamburger-line;
    top: calc(66% - 1px);
}