/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type=search] {
  -webkit-appearance: textfield; /* 1 */
  box-sizing: content-box; /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

.navigation__link, .navigation__item, .button {
  transition: all 0.3s ease-out;
}

.prices__title strong, .prices__title, .button_contacts, body {
  font-family: "Inter", Verdana, sans-serif;
}

.button_colored_active, .button_colored, h5, h2 {
  font-family: "Inika", Verdana, sans-serif;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 5rem;
  color: #717171;
}
h1 strong {
  color: #499A18;
}

h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  line-height: 5.2rem;
  color: #499A18;
}
h2 strong {
  color: #E06733;
  font-weight: 400;
}

h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.2rem;
  margin: 5px 0 10px 0;
  color: #E06733;
}

h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.2rem;
}

.button {
  padding: 11px 27px;
  font-style: nomal;
  font-weight: 400;
  font-size: 16px;
  line-height: 2rem;
  background-color: #EDF2EC;
}
.button_uppercase {
  text-transform: uppercase;
  border: solid 2px #E06733;
  border-radius: 10px;
  color: #000000;
}
.button_uppercase:hover {
  background-color: #E06733;
  color: white;
}
@media (max-width: 380px) {
  .button_uppercase {
    font-size: 1rem;
    line-height: 2rem;
    padding: 6px 16px;
  }
}
.button_accordion {
  font-style: nomal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #717171;
  border: none;
  border-radius: 10px;
  padding: 3px 20px;
}
.button_contacts {
  padding: 7px 57px;
  font-style: nomal;
  font-weight: 700;
  font-size: 10px;
  line-height: 1.3rem;
  border: solid 2px #E06733;
  border-radius: 5px;
  color: #000000;
}
.button_colored {
  color: #E06733;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.6rem;
  width: 161px;
  border: solid 1px #E06733;
  border-radius: 5px;
}
.button_colored_bg-none {
  background-color: white;
}
.button_colored_active {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.6rem;
  width: 161px;
  border: solid 1px #E06733;
  border-radius: 5px;
  background-color: #E06733;
  color: white;
}
.button_colored_active:hover {
  color: #EDF2EC;
  font-weight: normal;
  border: solid 1px #E06733;
}
@media (max-width: 768px) {
  .button_colored {
    width: calc(130px + 31 * (100vw - 460px) / 300);
  }
}
@media (max-width: 380px) {
  .button_colored {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    width: 121px;
    padding: 8px 0;
  }
}

.hamb {
  margin-left: auto;
}

.hamburger {
  display: none;
}
@media (max-width: 380px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
}

.hamburger__line {
  display: block;
  background-color: #717171;
  height: 2px;
  width: 40px;
  margin: 6px auto;
  transition: 0.2s;
}

.hamburger.active .hamburger__line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .hamburger__line:nth-child(3) {
  opacity: 0;
}

.hamburger.active .hamburger__line:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}

.hamburger.active .hamburger__line:nth-child(4) {
  transform: translateY(-12px) rotate(-45deg);
}

.popup {
  display: none;
}
@media (max-width: 380px) {
  .popup {
    position: fixed;
    top: 108px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
    display: flex;
    transition: 0.3s;
  }
}

@media (max-width: 380px) {
  .popup.open {
    left: 0;
  }
}

@media (max-width: 380px) {
  .popup .navigation {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: start;
    overflow: auto;
  }
}

.popup .navigation > li {
  width: 100%;
  padding: 0;
}

.popup .navigation > li > a {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.welcome {
  background-color: #EDF2EC;
  padding: 50px 0 80px 0;
}
@media (max-width: 768px) {
  .welcome {
    padding: 40px 0 70px 0;
  }
}
@media (max-width: 380px) {
  .welcome {
    padding: 20px 0;
  }
}

.welcome__wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .welcome__wrapper {
    flex-direction: row-reverse;
  }
}

.welcome__img {
  width: 449px;
  height: 407px;
}
@media (max-width: 768px) {
  .welcome__img {
    width: 280px;
    height: 254px;
  }
}

.welcome__img img {
  margin-top: 20px;
  max-width: 100%;
  min-width: 350px;
  max-height: 407px;
}
@media (max-width: 768px) {
  .welcome__img img {
    max-width: 100%;
    min-width: 130px;
    max-height: 254px;
    margin: 0;
  }
}
@media (max-width: 380px) {
  .welcome__img img {
    display: none;
  }
}

.welcome__body {
  padding: 20px 0 0 0px;
  max-width: 549px;
}
@media (max-width: 768px) {
  .welcome__body {
    padding: 0;
    max-width: 346px;
  }
}
@media (max-width: 380px) {
  .welcome__body {
    min-width: 315px;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .welcome__title {
    font-size: 3.5rem;
    margin: 0;
  }
}
@media (max-width: 380px) {
  .welcome__title {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
}

.welcome__description {
  padding: 20px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.5rem;
  color: #636060;
}
@media (max-width: 768px) {
  .welcome__description {
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin: 0;
    padding: 30px 0 35px 5px;
  }
}
@media (max-width: 380px) {
  .welcome__description {
    padding: 20px 0 25px 0;
  }
}

.about {
  padding: 93px 0 94px 0;
}
@media (max-width: 768px) {
  .about {
    padding: 40px 0 95px 0;
  }
}
@media (max-width: 380px) {
  .about {
    padding: 30px 0 31px 0;
  }
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .about__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.about__body {
  padding: 35px 153px 0 0;
  max-width: 605px;
}
@media (max-width: 768px) {
  .about__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .about__title {
    font-size: 3.5rem;
    line-height: 4.6rem;
    margin: 0;
    max-width: 423px;
    text-align: center;
  }
}
@media (max-width: 380px) {
  .about__title {
    font-size: 2.5rem;
    line-height: 3.3rem;
  }
}

.about__description {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3rem;
}
@media (max-width: 768px) {
  .about__description {
    margin: 0;
    padding: 50px 0 70px 0;
    width: calc(320px + 348 * (100vw - 380px) / 388);
  }
}
@media (max-width: 380px) {
  .about__description {
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding: 15px 0 5px 0;
    text-align: left;
  }
}

.about__img {
  width: 464px;
  height: 479px;
}
@media (max-width: 768px) {
  .about__img {
    width: 250px;
    height: 258px;
  }
}
@media (max-width: 380px) {
  .about__img {
    width: 150px;
    height: 147px;
  }
}

.about__img img {
  max-width: 100%;
  min-width: 350px;
  max-height: 479px;
}
@media (max-width: 768px) {
  .about__img img {
    min-width: 250px;
    height: 258px;
  }
}
@media (max-width: 380px) {
  .about__img img {
    min-width: 150px;
    height: 147px;
  }
}

.service {
  background-color: #EDF2EC;
  padding: 40px 0 123px 0;
}
@media (max-width: 768px) {
  .service {
    padding: 60px 0 70px 0;
  }
}
@media (max-width: 380px) {
  .service {
    padding: 30px 0 27px 0;
  }
}

.service__header {
  display: flex;
  padding-bottom: 75px;
}
@media (max-width: 768px) {
  .service__header {
    flex-direction: column;
    padding-bottom: 40px;
  }
}

.servise__title {
  max-width: 306px;
  margin: 0 142px 0 0;
  color: #499A18;
}
@media (max-width: 768px) {
  .servise__title {
    font-size: 35px;
    line-height: 46px;
    margin: 0 0 40px 0;
    padding: 0;
  }
}
@media (max-width: 380px) {
  .servise__title {
    font-size: 2.5rem;
    line-height: 3.3rem;
    max-width: 187px;
    margin: 0 0 35px 0;
  }
}

.service__buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.service__buttons > * {
  height: 50px;
  margin-right: 37px;
}
.service__buttons > *:last-child {
  margin-right: 0;
}
@media (max-width: 380px) {
  .service__buttons > * {
    width: 121px;
    height: 35px;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0;
    margin: 0 10px 5px 0;
  }
}

.service__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(329.5px, 1fr));
  row-gap: 55px;
  column-gap: 106px;
}
@media (max-width: 768px) {
  .service__cards {
    grid-template-columns: repeat(auto-fit, minmax(281px, 1fr));
    row-gap: 35px;
    column-gap: 100px;
  }
}
@media (max-width: 380px) {
  .service__cards {
    grid-template-columns: repeat(auto-fit, minmax(281px, 1fr));
    row-gap: 33px;
  }
}

.blur {
  filter: blur(10px);
  transition: 0.3s ease-in-out;
}

.card {
  border: solid 1px #E3E1D5;
  border-radius: 20px;
  text-align: center;
  max-width: 330px;
}
@media (max-width: 768px) {
  .card {
    margin: 0;
    max-width: 281px;
  }
}
@media (max-width: 380px) {
  .card {
    margin: auto;
  }
}

.card__title {
  padding: 5px 0;
}
@media (max-width: 768px) {
  .card__title {
    margin: 0;
    padding: 10px 0;
  }
}

.card__subtitle {
  padding-bottom: 30px;
}
@media (max-width: 768px) {
  .card__subtitle {
    max-width: 201px;
    padding: 0 0 18px 0;
    margin: auto;
  }
}

.card-image-1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 350px;
  width: 329px;
  background-image: url("../img/service/card-image-1.png");
}
@media (max-width: 768px) {
  .card-image-1 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 350px;
    width: 280px;
    background-image: url("../img/service-tablet/card-image-1.jpg");
  }
}

.card-image-2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 350px;
  width: 329px;
  background-image: url("../img/service/card-image-2.png");
}
@media (max-width: 768px) {
  .card-image-2 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 350px;
    width: 280px;
    background-image: url("../img/service-tablet/card-image-2.jpg");
  }
}

.card-image-3 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 350px;
  width: 329px;
  background-image: url("../img/service/card-image-3.png");
}
@media (max-width: 768px) {
  .card-image-3 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 350px;
    width: 280px;
    background-image: url("../img/service-tablet/card-image-3.jpg");
  }
}

.card-image-4 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 350px;
  width: 329px;
  background-image: url("../img/service/card-image-4.png");
}
@media (max-width: 768px) {
  .card-image-4 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 350px;
    width: 280px;
    background-image: url("../img/service-tablet/card-image-4.jpg");
  }
}

.card-image-5 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 350px;
  width: 329px;
  background-image: url("../img/service/card-image-5.png");
}
@media (max-width: 768px) {
  .card-image-5 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 350px;
    width: 280px;
    background-image: url("../img/service-tablet/card-image-5.jpg");
  }
}

.card-image-6 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 350px;
  width: 329px;
  background-image: url("../img/service/card-image-6.png");
}
@media (max-width: 768px) {
  .card-image-6 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 350px;
    width: 280px;
    background-image: url("../img/service-tablet/card-image-6.jpg");
  }
}

.card__subtitle {
  font-style: nomal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #717171;
}

.prices {
  padding: 5px 0 115px 0;
}
@media (max-width: 768px) {
  .prices {
    padding: 10px 0 88px 0;
  }
}
@media (max-width: 380px) {
  .prices {
    padding: 20px 0 0px 0;
  }
}

.prices__wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 380px) {
  .prices__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.prices__title {
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 5rem;
  color: #000000;
  margin: 5px 0 57px 0;
}
.prices__title strong {
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 5rem;
  color: #499A18;
}
@media (max-width: 768px) {
  .prices__title strong {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
}
@media (max-width: 768px) {
  .prices__title {
    margin-left: 15px;
    font-size: 3.5rem;
    line-height: 4.2rem;
  }
}
@media (max-width: 380px) {
  .prices__title {
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    margin: 0 0 37px 0;
  }
}

.prices__accordion {
  margin-top: 25px;
  text-align: left;
}
@media (max-width: 380px) {
  .prices__accordion {
    margin: 0 0 20px 0;
  }
}

.accordion {
  border: solid 1px #E3E1D5;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 332px;
  padding: 34px 41px;
}
@media (max-width: 768px) {
  .accordion {
    padding: 34px calc(10px + 30 * (100vw - 460px) / 270);
  }
}
@media (max-width: 380px) {
  .accordion {
    max-width: 224px;
    height: 235px;
    padding: 29px 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.accordion > * {
  margin-bottom: 34px;
}
.accordion > *:last-child {
  margin-bottom: 0;
}
@media (max-width: 380px) {
  .accordion > * {
    margin-bottom: 0;
  }
}

.accordion__label {
  background-color: #EDF2EC;
  border-radius: 20px;
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  position: relative;
}
@media (max-width: 768px) {
  .accordion__label {
    width: calc(170px + 80 * (100vw - 460px) / 308);
  }
}
@media (max-width: 380px) {
  .accordion__label {
    width: 180px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
.accordion__label.accordion_active + .accordion__content {
  display: block;
}

.accordion__title {
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.2rem;
  display: inline-block;
  padding: 14px;
}
@media (max-width: 768px) {
  .accordion__title {
    padding: auto 40px;
  }
}
@media (max-width: 380px) {
  .accordion__title {
    font-size: 1.5rem;
    line-height: 2rem;
    width: 60%;
    padding: 16px 5px 16px 25px;
  }
}

.accordion_img {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 16px;
  width: 16px;
  background-image: url(../img/icons/accordion_btn_closed.svg);
  margin-right: 10px;
}
@media (max-width: 380px) {
  .accordion_img {
    margin-right: 35px;
  }
}

.accordion__content {
  display: none;
  position: absolute;
  width: 250px;
  z-index: 1;
  overflow: hidden;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .accordion__content {
    width: calc(170px + 80 * (100vw - 460px) / 308);
  }
}
@media (max-width: 380px) {
  .accordion__content {
    width: 180px;
  }
}

.accordion__label.accordion_active .accordion_img {
  background-image: url(../img/icons/accordion_btn_opened.svg);
}

.accordion__label.accordion_active {
  background-color: #D6E7D2;
  border-radius: 20px 20px 0 0;
}

.prices-contacts__title {
  max-width: 452px;
  text-align: right;
  margin: 27px 0 20px 0;
}
@media (max-width: 380px) {
  .prices-contacts__title strong {
    font-size: 20px;
    line-height: 35px;
  }
}
@media (max-width: 768px) {
  .prices-contacts__title {
    margin-top: 135px;
    font-size: 25px;
    line-height: 35px;
  }
}
@media (max-width: 380px) {
  .prices-contacts__title {
    max-width: 230px;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    margin: 0 0 4px 0;
  }
}

.prices-contacts__button {
  text-align: right;
  margin: 38px 0 39px 0;
}
@media (max-width: 768px) {
  .prices-contacts__button {
    margin: 22px 0 34px 0;
  }
}
@media (max-width: 380px) {
  .prices-contacts__button {
    text-align: center;
  }
}

.prices-contacts__img {
  text-align: right;
}
@media (max-width: 380px) {
  .prices-contacts__img {
    display: none;
  }
}

.accordion__content {
  background-color: #D6E7D2;
  border-radius: 0 0 20px 20px;
  padding: 0 40px 12px 40px;
  transition: 0.3s ease-in-out;
}

.accordion__description {
  margin: 0;
  border-top: solid 0.5px #AEA1A1;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1rem;
  color: #717171;
  padding: 6px 0;
}

.accordion__price {
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #E06733;
}
.accordion__price b {
  font-size: 20px;
}
.accordion__price strong {
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #000000;
}

.accordion__button {
  margin-top: 12px;
}

.accordion__button a {
  color: #717171;
}

.contacts {
  background-color: #EDF2EC;
  padding-top: 53px;
}
@media (max-width: 768px) {
  .contacts {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}
@media (max-width: 380px) {
  .contacts {
    padding-top: 25px;
    padding-bottom: 50px;
  }
}

.contacts__wrapper {
  display: flex;
}
@media (max-width: 768px) {
  .contacts__wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.contacts__img {
  width: 400px;
  height: 497px;
}
@media (max-width: 768px) {
  .contacts__img {
    width: 200px;
    height: 248px;
    order: 1;
  }
}
@media (max-width: 380px) {
  .contacts__img {
    display: none;
  }
}

.contacts__img img {
  max-width: 100%;
  max-height: 497px;
}
@media (max-width: 768px) {
  .contacts__img img {
    width: 200px;
    height: 248px;
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media (max-width: 380px) {
  .contacts__img img {
    display: none;
  }
}

.contacts__img_mobile {
  display: none;
}
@media (max-width: 380px) {
  .contacts__img_mobile {
    display: block;
    width: 100px;
    height: 124px;
  }
}

@media (max-width: 380px) {
  .contacts__img_mobile img {
    width: 100px;
    height: 124px;
    margin-left: -1px;
    margin-top: 50px;
  }
}

.hidden {
  display: none;
}

.contacts__title {
  font-weight: 700;
  color: #499A18;
  margin: 5px 64px 0 70px;
}
@media (max-width: 768px) {
  .contacts__title {
    order: 3;
    margin: 0 0 70px 0;
  }
}
@media (max-width: 380px) {
  .contacts__title {
    font-size: 25px;
    line-height: 33px;
    margin: 0 0 42px 0;
  }
}

.wrapper {
  max-width: 1220px;
  margin: auto;
}
@media (max-width: 768px) {
  .wrapper {
    padding: 0 50px;
  }
}
@media (max-width: 380px) {
  .wrapper {
    padding: 0 25px;
  }
}

.header {
  background-color: #EDF2EC;
  padding: 26px 0;
}
@media (max-width: 768px) {
  .header {
    padding: 17px 0;
  }
}
@media (max-width: 380px) {
  .header {
    padding: 35px 0;
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .navigation {
    flex-wrap: wrap;
  }
}
@media (max-width: 380px) {
  .navigation {
    display: none;
  }
}

.navigation__item {
  list-style: none;
  padding: 0 23px;
  white-space: nowrap;
}
.navigation__item:last-child {
  padding-right: 0;
}

.navigation__link {
  text-decoration: none;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 5rem;
  color: #010201;
}
.navigation__link:hover {
  color: #E06733;
}

.footer {
  padding: 30px 0;
}
@media (max-width: 768px) {
  .footer {
    padding: 33px 0 18px 0;
  }
}
@media (max-width: 380px) {
  .footer {
    padding: 23px 0 22px 0;
  }
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .footer__wrapper {
    flex-direction: column;
  }
}

.footer__title {
  color: #000000;
  font-style: nomal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 5rem;
}
.footer__title:hover {
  color: #499A18;
}
@media (max-width: 768px) {
  .footer__title {
    line-height: 2.4rem;
  }
}

@media (max-width: 768px) {
  .footer__link {
    padding: 16px 0;
  }
}
@media (max-width: 380px) {
  .footer__link {
    padding: 16px 0 3px 0;
  }
}

.social {
  display: flex;
}
@media (max-width: 768px) {
  .social {
    margin: 10px 15px 0 0;
  }
}

.ico__social {
  margin-left: 19px;
}

.drop-down {
  margin-top: 92px;
  position: relative;
  max-height: 284px;
  transition: 0.3;
}
@media (max-width: 768px) {
  .drop-down {
    order: 2;
    padding-bottom: 250px;
    margin-top: 0;
  }
}
@media (max-width: 380px) {
  .drop-down {
    padding-bottom: 132px;
    margin-top: 0;
  }
}

.drop__label {
  background-color: #D6E7D2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(250px + 200 * (100vw - 770px) / 670);
}
@media (max-width: 768px) {
  .drop__label {
    width: calc(350px + 100 * (100vw - 440px) / 328);
    margin: 0;
  }
}
@media (max-width: 380px) {
  .drop__label {
    width: calc(250px + 50 * (100vw - 320px) / 60);
  }
}

.drop__label_background {
  background-color: #C1E698;
}

.drop__title {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 4rem;
  color: #636060;
  display: inline-block;
  padding: 5px 0 5px 20px;
  flex-grow: 1;
  cursor: pointer;
}
@media (max-width: 380px) {
  .drop__title {
    padding: 5px 76px 5px 20px;
    width: 234px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 4rem;
  }
}

.drop__icon {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  height: 16px;
  width: 16px;
  background-image: url("../img/icons/drop_btn_unactive.svg");
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-right: 35px;
}
@media (max-width: 380px) {
  .drop__icon {
    margin-right: 20px;
  }
}
.drop__icon_active {
  background-image: url("../img/icons/drop_btn_active.svg");
}

.drop__body {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  transform: translateY(-100%);
  padding: 35px;
  background-color: #DCE9D9;
  display: none;
}
@media (max-width: 380px) {
  .drop__body {
    padding: 15px;
  }
}

.drop-down.drop__active .drop__body {
  display: block;
}

.drop__item {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 4rem;
  color: #499A18;
  border-bottom: solid 1px #D9D9D9;
  letter-spacing: 5%;
  cursor: pointer;
}
.drop__item:hover {
  color: #717171;
  border-bottom: solid 1px #717171;
}
@media (max-width: 380px) {
  .drop__item {
    line-height: 25px;
  }
}

.drop__container {
  margin-top: 47px;
  border: solid 1px #000000;
  border-radius: 20px;
  background-color: #EDF2EC;
  padding: 17px 16px 0 32px;
  display: none;
  margin-bottom: 30px;
}
@media (max-width: 380px) {
  .drop__container {
    padding: 23px 36px;
  }
}

.active__container {
  display: block;
}

.contacts__data {
  display: flex;
}

.contacts__label {
  width: 127px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 4rem;
  color: #000000;
}
@media (max-width: 380px) {
  .contacts__label {
    width: 65px;
  }
}

@media (max-width: 380px) {
  .contacts__label_office {
    line-height: 20px;
  }
}

.contacts__source {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 4rem;
  color: #717171;
}

.contacts__button {
  text-align: center;
  padding: 14px 0 32px 0;
}
@media (max-width: 380px) {
  .contacts__button {
    padding: 14px 0 0px 0;
  }
}

.button_contacts > a {
  text-decoration: none;
  color: #717171;
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
