@mixin font ($style, $weight, $size, $height) {
    font-style: $style;
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
}

@mixin background ($repeat: no-repeat, $cover: cover, $position: center, $radius: 20px, $height: 350px, $width: 329px) {
    background-repeat: $repeat;
    background-size: $cover;
    background-position: $position;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    height: $height;
    width: $width;
}

@mixin media-desctop {
    @media (max-width: $desctop-width) {@content; }
}

@mixin media-tablet {
    @media (max-width: $tablet-width) {@content; }
}

@mixin media-mobile {
    @media (max-width: $mobile-width) {@content; }
}