.contacts {
    background-color: $color-background;
    padding-top: 53px;
    @include media-tablet {
        padding-top: 40px;
        padding-bottom: 30px;
    }
    @include media-mobile {
        padding-top: 25px;
        padding-bottom: 50px;
    }
}

.contacts__wrapper {
    display: flex;
    @include media-tablet {
        flex-direction: column-reverse;
        align-items: center;
    }
}

.contacts__img {
    width: 400px;
    height: 497px;
    @include media-tablet {
        width: 200px;
        height: 248px;
        order: 1;
    }
    @include media-mobile {
        display: none;
    }
}

.contacts__img img{
    max-width: 100%;
    max-height: 497px;
    @include media-tablet {
        width: 200px;
        height: 248px;
        margin-left: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    @include media-mobile {
        display: none;
    }
}

.contacts__img_mobile {
    display: none;

    @include media-mobile {
        display: block;
        width: 100px;
        height: 124px;
    }
}

.contacts__img_mobile img{

    @include media-mobile {
        width: 100px;
        height: 124px;
        margin-left: -1px;
        margin-top: 50px;
    }
}

.hidden {
    display: none;
}

.contacts__title {
    font-weight: 700;
    color: $color-primary;
    margin: 5px 64px 0 70px;
    @include media-tablet {
        order: 3;
        margin: 0 0 70px 0;
    }
    @include media-mobile {
        font-size: 25px;
        line-height: 33px;
        margin: 0 0 42px 0;
    }
}