.prices {
    padding: 5px 0 115px 0;
    overflow: hidden;
    @include media-tablet {
        padding: 40px 0 88px 0;
    }
    @include media-mobile {
        padding: 20px 0 0px 0;
    }
}
.prices__wrapper {
    display: flex;
    justify-content: space-between;
    @include media-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.prices__title {
    @extend %font-primary;
    @include font (normal, 700, 4rem, 5rem);
    color: $color-dark;
        strong {
            @include font (normal, 700, 4rem, 5rem);
            @extend %font-primary;
            color: $color-primary;
            @include media-tablet {
                font-size: 2.5rem;
                line-height: 3.5rem;
            }
        }
    @include media-tablet {
        font-size: 2.5rem;
        line-height: 3.5rem;
    }
    @include media-mobile {
        text-align: center;
        margin: 0 0 33px 0;
    }
}

.prices__accordion {
    margin-top: 25px;
    text-align: center;
    @include media-mobile {
        margin: 0 0 20px 0;
    }
}

.accordion {
    border: solid 1px $color-border;
    border-radius: 20px;
    @include media-mobile {
        width: 224px;
        height: 235px;
        padding: 29px 22px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
    }
}

.accordion__label {
    background-color: $color-background;
    border-radius: 20px;
    margin: 34px 41px;
    width: 250px;
    height: 50px;
    @include media-mobile {
        width: 180px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

.accordion__title {
    @include font (normal, 700, 2rem, 2.2rem);
    display: inline-block;
    padding: 14px 40px; 
    width: 194px;
    @include media-tablet {
        padding: auto 40px;
    }
    @include media-mobile {
        font-size: 1.5rem;
        line-height: 2rem;
        width: 60%;
        padding: 16px 5px 16px 10px;
    }
}

.accordion_img {
    display: inline-block;
    @include background ($width: 16px, $height: 16px);
    background-image: url(/src/img/icons/accordion_btn_closed.svg);
    margin-right: 30px;
}

.accordion__content {
    display: none;
}

.prices-contacts__title {
    max-width: 452px;
    text-align: right;
    strong{
        @include media-mobile{
            font-size: 20px;
            line-height: 35px;
        }
    }
    @include media-mobile {
        max-width: 230px;
        font-size: 20px;
        line-height: 35px;
        text-align: center;
        margin: 0 0 17px 0;
    }
}

.prices-contacts__button {
    text-align: right;
    margin: 38px 0 39px 0;
    @include media-tablet {
        margin: 22px 0 34px 0;
    }
    @include media-mobile {
        text-align: center;
    }
}

.prices-contacts__img {
    text-align: right;
    @include media-mobile {
       display: none;
    }
}