.prices {
    padding: 5px 0 115px 0;
    @include media-tablet {
        padding: 10px 0 88px 0;
    }
    @include media-mobile {
        padding: 20px 0 0px 0;
    }
}
.prices__wrapper {
    display: flex;
    justify-content: space-between;
    @include media-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.prices__title {
    @extend %font-primary;
    @include font (normal, 700, 4rem, 5rem);
    color: $color-dark;
    margin: 5px 0 57px 0;
        strong {
            @include font (normal, 700, 4rem, 5rem);
            @extend %font-primary;
            color: $color-primary;
            @include media-tablet {
                font-size: 2.5rem;
                line-height: 3.5rem;
            }
        }
    @include media-tablet {
        margin-left: 15px;
        font-size: 3.5rem;
        line-height: 4.2rem;
        
    }
    @include media-mobile {
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        margin: 0 0 37px 0;
    }
}

.prices__accordion {
    margin-top: 25px;
    text-align: left;
    @include media-mobile {
        margin: 0 0 20px 0;
    }
}

.accordion {
    border: solid 1px $color-border;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 332px;
    padding: 34px 41px;
    @include media-tablet {
        padding: 34px calc(10px + (40 - 10) * ((100vw - 460px) / (730 - 460)));
    }
    @include media-mobile {
        max-width: 224px;
        height: 235px;
        padding: 29px 22px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
    }
}

.accordion>* {
    margin-bottom: 34px;
    &:last-child {
        margin-bottom: 0;
    }
    @include media-mobile {
        margin-bottom: 0;
    }
}

.accordion__label {
    background-color: $color-background;
    border-radius: 20px;
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    position: relative;
    @include media-tablet {
        width: calc(170px + (250 - 170) * ((100vw - 460px) / (768 - 460)));
    }
    @include media-mobile {
        width: 180px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &.accordion_active + .accordion__content{
        display: block;
    }
}

.accordion__title {
    @include font (normal, 700, 2rem, 2.2rem);
    display: inline-block;
    padding: 14px; 
    
    @include media-tablet {
        padding: auto 40px;
    }
    @include media-mobile {
        font-size: 1.5rem;
        line-height: 2rem;
        width: 60%;
        padding: 16px 5px 16px 25px;
    }
}

.accordion_img {
    display: inline-block;
    @include background ($width: 16px, $height: 16px);
    background-image: url(../img/icons/accordion_btn_closed.svg);
    margin-right: 10px;
    @include media-mobile {
        margin-right: 35px;
    }
}

.accordion__content {
    display: none;
    position: absolute;
    width: 250px;
    z-index: 1;
    overflow: hidden;
    transition: 0.3s;
    @include media-tablet {
        width: calc(170px + (250 - 170) * ((100vw - 460px) / (768 - 460)));
    }
    @include media-mobile {
        width: 180px;
    }
}

.accordion__label.accordion_active .accordion_img{
    background-image: url(../img/icons/accordion_btn_opened.svg);
}

.accordion__label.accordion_active {
    background-color: $color-drop-down;
    border-radius: 20px 20px 0 0;
}

.prices-contacts__title {
    max-width: 452px;
    text-align: right;
    margin: 27px 0 20px 0;
    strong{
        @include media-mobile{
            font-size: 20px;
            line-height: 35px;
        }
    }
    @include media-tablet {
        margin-top: 135px;
        font-size: 25px;
        line-height: 35px;
    }
    @include media-mobile {
        max-width: 230px;
        font-size: 20px;
        line-height: 35px;
        text-align: center;
        margin: 0 0 4px 0;
    }
}

.prices-contacts__button {
    text-align: right;
    margin: 38px 0 39px 0;
    @include media-tablet {
        margin: 22px 0 34px 0;
    }
    @include media-mobile {
        text-align: center;
    }
}

.prices-contacts__img {
    text-align: right;
    @include media-mobile {
       display: none;
    }
}

.accordion__content {
    background-color: $color-drop-down;
    border-radius: 0 0 20px 20px;
    padding: 0 40px 12px 40px;
    transition: 0.3s ease-in-out;
}

.accordion__description {
    margin: 0;
    border-top: solid 0.5px $color-line;
    @include font (normal, 300, 1rem, 1rem);
    color: $color-heading;
    padding: 6px 0;
}

.accordion__price {
    @include font (normal, 700, 1.2rem, 2rem);
    color: $color-additional;
    b {
        font-size: 20px;
    }
    strong {
        @include font (normal, 400, 1.2rem, 2rem);
        color: $color-dark;
    }
}

.accordion__button {
    margin-top: 12px;
}

.accordion__button a {
    color: $color-heading;
}
