.prices {
    padding: 5px 0 115px 0;
}
.prices__wrapper {
    display: flex;
    justify-content: space-between;
}

.prices__title {
    @extend %font-primary;
    @include font (normal, 700, 4rem, 5rem);
    color: $color-dark;
        strong {
            @include font (normal, 700, 4rem, 5rem);
            @extend %font-primary;
            color: $color-primary;
        }
}

.prices__accordion {
    margin-top: 25px;
}

.accordion {
    border: solid 1px $color-border;
    border-radius: 20px;
    
}

.accordion__label {
    background-color: $color-background;
    border-radius: 20px;
    margin: 34px 41px;
}

.accordion__title {
    @include font (normal, 700, 2rem, 2.2rem);
    display: inline-block;
    padding: 14px 40px; 
    width: 194px;
}

.accordion_img {
    margin-right: 40px;
}

.accordion__content {
    display: none;
}

.prices-contacts__title {
    max-width: 452px;
    text-align: right;
}

.prices-contacts__button {
    text-align: right;
    margin: 38px 0 39px 0;
}

.prices-contacts__img {
    text-align: right;
}