.welcome {
    background-color: $color-background;
    padding: 50px 0 55px 0;
}

.welcome__wrapper {
    display: flex;
}

.welcome__img {
    margin-top: 20px;
}

.welcome__body {
    padding: 20px 0 0 224px;
}

.welcome__description {
    padding: 20px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: $color-text;
}