.header {
    background-color: $color-background;
    padding: 26px 0;
    @include media-tablet {
        padding: 17px 0;
    }
    @include media-mobile {
        padding: 35px 0;
    }
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media-tablet {
        flex-wrap: wrap;
    }
    @include media-mobile {
        display: none;
    }  
}

.navigation__item {
    list-style: none;
    @extend %transition;
    padding: 0 23px;
    white-space:nowrap;
    &:last-child {
            padding-right: 0;
        }
}

.navigation__link {
    text-decoration: none;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 5rem;
    color: $color-links-nav;
    @extend %transition;
    &:hover {
        color: $color-additional;
    }
}

