.header {
    background-color: $color-background;
    padding: 26px 0;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 452px;    
}

.navigation__item {
    list-style: none;
    @extend %transition;
    
}

.navigation__link {
    text-decoration: none;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 5rem;
    color: $color-links-nav;
}

.navigation__link_colored {
    color: $color-additional;
}